header {

    width: 95vw;
    margin-top: 1rem;
    justify-content: center;
    background-color: $primary-color;
    border-radius: 10px;

    ul {
        li {
            a {
                color: white;
                font-family: $fuente-primaria;

            }
        }
    }

}