
$primary-color: rgba(45, 45, 45, 1);
$secondary-color: #3F0071;
$terciary-color: #FB2576;

$blue: #98b5cc;
$outline: rgba(#fff, .4);
$shadow: rgba($terciary-color, .5);


// fuentes

$fuente-primaria: 'Train One', cursive;